<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>ToDoList</h1>
      <input
        type="text"
        placeholder="Enter Your Pizza Name"
        v-model="pizzaData.name"
      />
      <small style="color: red" v-if="validation.nameStatus"
        >Pizza Name is required</small
      >
      <br />
      <input
        type="number"
        placeholder="Enter Your Pizza Price"
        v-model="pizzaData.price"
      />
      <small style="color: red" v-if="validation.priceStatus"
        >Pizza Price is required</small
      >
      <br />
      <button @click="add()">Add</button>
      <hr />
      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: "#app",
      data: {
        pizzaData: {
          name: "",
          price: "",
        },
        items: [],
        validation: {
          nameStatus: false,
          priceStatus: false,
        },
      },
      methods: {
        add() {
          // if (this.pizzaData.name == "") {
          //   this.validation.nameStatus = true;
          // } else {
          //   this.validation.nameStatus = false;
          // }

          this.validation.nameStatus = this.pizzaData.name == "" ? true : false;

          // if (this.pizzaData.price == "") {
          //   this.validation.priceStatus = true;
          // } else {
          //   this.validation.priceStatus = false;
          // }
          
          this.validation.priceStatus = this.pizzaData.price == "" ? true : false;

          if (!this.validation.nameStatus && !this.validation.priceStatus) {
            this.items.push({
              id: this.items.length + 1,
              name: this.pizzaData.name,
              price: '$ '+this.pizzaData.price,
            });
            this.clear();
          }
        },
        clear() {
          this.pizzaData.name = "";
          this.pizzaData.price = "";
        },
      },
    });
  </script>
</html>
